<h1>Listing trademarks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Web</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trademarks.each do |trademark| %>
  <tr>
    <td><%= trademark.name %></td>
    <td><%= trademark.web %></td>
    <td><%= link_to 'Show', trademark %></td>
    <td><%= link_to 'Edit', edit_trademark_path(trademark) %></td>
    <td><%= link_to 'Destroy', trademark, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trademark', new_trademark_path %>
