

<% thing_list = Thing.find_all_by_user_id(current_user.id) %>

<div class="row">
	<div class="col-lg-12">
		<h1>Listing things (<%= thing_list.size %>) [<span style='text-align:right'><%= link_to 'Add New', new_thing_path %></span>]</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<table width='100%'>
			<tr>
				<td>
					<table>
		<% thing_list.each do |thing| %>
			<tr>

				<td><%= link_to thing.name, edit_thing_path(thing) %></td>
			<td>
				<% if thing.trademark_id %>
					<%= Trademark.find(thing.trademark_id).name %>
				<% end %>
			</td>
				<td><%= thing.price %> €</td>
				<td><%= thing.adquired %></td>
			<td align='center'>
			<% if thing.category_id %>
				<span id='category' style='background-color:<%= Category.find(thing.category_id).background_color %>;color:<%= Category.find(thing.category_id).text_color %>'>
					<%= Category.find(thing.category_id).name %>
				</span>
				<% end %>
			</td>
				<td><%= link_to 'Destroy', thing, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		<% end %>
				</table>
			</td>
			<td width='250px'>

				</td>
			</tr>
		</table>
	</div>
</div>
