<%= simple_form_for(@brand) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :homepage %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
