<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><%= yield(:title) || "100things"%></title>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'jquery-ui' %>
	<%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700' %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'highcharts' %>
	<%= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>
	<div id="header">
		<div id="header_title">100things.com</div>
	</div>
	
	<div id="container">
	
		<!-- Session options -->
		<div id="user_session">
			<% if user_signed_in? %>
				<%= link_to current_user.email, edit_user_registration_path %> |
				<%= link_to "Sign out" , destroy_user_session_path %>
			<% else %>
				<%= link_to "Sign up" , new_user_registration_path %> | <%= link_to "Sign in" , new_user_session_path %>
			<% end %>
		</div>
		
		<div id="notice"><%= flash[:notice] %></div>
    
    <!-- User menu options -->
		<div id="user_nav">
			<% if user_signed_in? %>
              	<%= link_to "Things", things_path %> | 
				<%= link_to	"Trademarks", trademarks_path %> |
				<%= link_to "Categories", categories_path %>
			<% end %>						
		</div>

    <div id='yield'>
    					<%= yield %>
						</div>
            
            
</body>
</html>
